<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.mapper.AccountMapper">

	<select id="login" resultType="com.jwland.domain.account.AccountVO">
		SELECT account_sequence_no, birth, role, approved, nick_name
		FROM jwland.account
		WHERE name = #{name}
	</select>

	<insert id="join" parameterType="com.jwland.domain.account.JoinAccountDto">
		INSERT INTO jwland.account(name, birth, nick_name)
		VALUES(#{name}, #{birth}, #{nickName})
	</insert>

	<select id="findByName" resultType="com.jwland.domain.account.AccountVO">
<!-- 		SELECT account_sequence_no, birth, role, approved, nick_name -->
		SELECT *
		FROM jwland.account
		WHERE name = #{name}
	</select>

	<select id="findAccountsInfo" resultType="com.jwland.domain.account.AccountInfoDto">
		SELECT account_sequence_no, name, birth, nick_name
		FROM jwland.account
		WHERE 1=1
		AND	  role != 'ROLE_ADMIN'
		<if test="name != null and name != ''">
			AND name LIKE '%' || #{name} || '%'
		</if>
	</select>

</mapper>