<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.mapper.ClinicMapper">

	<select id="loadClinicData" resultType="map" parameterType="map">

		SELECT cm.clinic_master_sequence_no
			 , ct.class_type_sequence_no
			 , clinic_type.clinic_type
			 , ct.class_type_name
			 , cm.date
			 , cm.hour
			 , cm.minute
			 , COALESCE(t1.account_cnt, 0) AS account_cnt
			 , CASE WHEN t2.account_sequence_no IS NOT NULL AND cam.account_sequence_no IS NOT NULL THEN 'already_apply'
				    WHEN t2.account_sequence_no IS NOT NULL AND cam.account_sequence_no IS NULL THEN 'can_apply'
			   ELSE 'impossible'
			   END AS possible
		FROM jwland.clinic_master cm
		LEFT JOIN jwland.clinic_type clinic_type
		ON cm.clinic_type_sequence_no = clinic_type.clinic_type_sequence_no
		LEFT JOIN jwland.class_type ct
		ON cm.class_type_sequence_no = ct.class_type_sequence_no
		LEFT JOIN 
		(
			SELECT clinic_master_sequence_no, COUNT(clinic_master_sequence_no) AS account_cnt
			FROM jwland.clinic_account_map
			WHERE clinic_master_sequence_no IN 
			(SELECT clinic_master_sequence_no FROM jwland.clinic_master WHERE date = #{date})
			GROUP BY clinic_master_sequence_no		
		) t1
		ON cm.clinic_master_sequence_no = t1.clinic_master_sequence_no
		LEFT JOIN 
		(
			SELECT DISTINCT c.class_type_sequence_no, acm.account_sequence_no 
			FROM jwland.account_class_map acm
			LEFT JOIN jwland.class c
			ON c.class_sequence_no = acm.class_sequence_no
			WHERE c.open = 'OPEN'
			AND acm.account_sequence_no = #{accountSequenceNo}::INT 
		) t2
		ON cm.class_type_sequence_no = t2.class_type_sequence_no
		LEFT JOIN jwland.clinic_account_map cam
		ON cm.clinic_master_sequence_no = cam.clinic_master_sequence_no
		AND cam.account_sequence_no = #{accountSequenceNo}::INT
		WHERE date = #{date}
		ORDER BY cm.hour, cm.minute
		;
	</select>

	<select id="loadClinicList" parameterType="map" resultType="map">
		
		<![CDATA[
			SELECT TO_CHAR(TO_TIMESTAMP(cm.date, 'yyyymmdd'), 'yyyy-mm-dd') AS clinic_date, 
				   cm.hour, 
				   cm.minute, 
				   ct.class_type_name, 
				   clt.clinic_type
			FROM jwland.clinic_master cm
			LEFT JOIN jwland.class_type ct
			ON cm.class_type_sequence_no = ct.class_type_sequence_no
			LEFT JOIN jwland.clinic_type clt
			ON cm.clinic_type_sequence_no = clt.clinic_type_sequence_no
			WHERE date >= #{startDate} AND date < #{endDate}
			ORDER BY cm.date, cm.hour, cm.minute
			;
		]]>
	</select>


	<select id="getClinicTypes" resultType="map">
		SELECT clinic_type_sequence_no, clinic_type 
		FROM jwland.clinic_type
	</select>

	<select id="getClassTypes" resultType="map" parameterType="String">
		SELECT * FROM jwland.class_type
		WHERE class_type_sequence_no IN (
		 	SELECT class_type_sequence_no FROM jwland.class
			WHERE class_sequence_no IN (
				SELECT class_sequence_no FROM jwland.account_class_map
				WHERE account_sequence_no = #{accountSequenceNo}::INT
			)
			AND open = 'OPEN'
		)
		;

	</select>
	
	<insert id="enrollClinic" parameterType="com.jwland.domain.clinic.EnrollClinicDto">
		INSERT INTO jwland.clinic_master(class_type_sequence_no, clinic_type_sequence_no, date, hour, minute)
		VALUES(#{classTypeSequenceNo}, #{clinicTypeSequenceNo}, #{date}, #{hour}, #{minute})
	</insert>

	<insert id="applyClinic" parameterType="com.jwland.domain.clinic.ClinicAccountMapDto">
		INSERT INTO jwland.clinic_account_map
		VALUES(#{clinicSequenceNo}, #{accountSequenceNo})
	</insert>
	
	<delete id="calcelClinic" parameterType="com.jwland.domain.clinic.ClinicAccountMapDto">
		DELETE FROM jwland.clinic_account_map
		WHERE clinic_master_sequence_no = #{clinicSequenceNo}
		AND account_sequence_no = #{accountSequenceNo}
	</delete>
</mapper>

















