<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.mapper.ExamCheckMapper">

	<select id="getExamCheckList" resultType="com.jwland.domain.examcheck.ExamTotalInfoDto">
		SELECT et.year, 
		       et.month, 
		       et.grade, 
		       et.exam_type, 
		       es.subject, 
		       em.problem_number, 
		       count(*) AS wrong_count
		FROM jwland.exam_master em
		LEFT JOIN jwland.exam_type et
		ON em.exam_type_sequence_no = et.exam_type_sequence_no
		LEFT JOIN jwland.exam_subject es
		ON em.exam_subject_sequence_no = es.exam_subject_sequence_no
		GROUP BY et.year, et.month, et.grade, et.exam_type, es.subject, em.problem_number
		ORDER BY wrong_count desc
	</select>

</mapper>