<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="layout/layout.html"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title></title>

<script src="/js/form-validation.js"></script>
<link href="/css/form-validation.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

</head>
<body>
	<main layout:fragment="content">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel1">기출 엑셀 다운로드 페이지</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" onclick="cancelEnrollExam()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group row">
							<label for="enroll-exam-year"
								class="col-sm-2 col-form-label text-center">시작연도</label>
							<div class="col-sm-10">
								<input class="form-control" id="exam-start-year">
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="enroll-exam-month"
								class="col-sm-2 col-form-label text-center">마지막 연도</label>
							<div class="col-sm-10">
								<input class="form-control" id="exam-end-year">
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="exam-subject"
								class="col-sm-2 col-form-label text-center">시험과목</label>
							<div class="col-sm-10">
								<select id="exam-subject"
									style="width: 100%; height: 100%;"></select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="downloadExcel()">다운로드</button>
					<button type="button" class="btn btn-danger"
						onclick="historyBack()" data-dismiss="modal"
						id="enroll-exam-cancel-btn">뒤로가기</button>
				</div>
			</div>
		</div>
	</main>
</body>

</html>

<script th:inline="javascript">

	(function() {
		loadExamSubjects();
	})();

	function loadExamSubjects() {
		var url = "/exam-subjects";
		$.ajax({
			url : url,
			method : "GET",
			success : function(data, xhr, status) {
				_cb_loadExamSubjects(data, xhr, status);
			},
			fail : function(xhr, xhrStatus, err) {
				alert(JSON.stringify(xhr));
			}
		});
	}

	function _cb_loadExamSubjects(data, xhr, status) {
		$("#exam-subject").html("");

		var html = "<option value=''>=== 전 체 ===</option>";

		for (var i = 0; i < data.length; i++) {
			html += "<option value='" + data[i].commonCode + "'>" + data[i].commonCodeName + "</option>";
		}
		$("#exam-subject").html(html);
	}

	function downloadExcel() {

		var examStartYear = $("#exam-start-year").val();
		var examEndYear = $("#exam-end-year").val();
		var examSubjectCode = $("#exam-subject").val();

		
		if(examStartYear == null || examStartYear.trim() == ''){
			alert("시작연도는 필수값입니다.");
			return ;
		}
		
		var url = "/admin/exam/excel-download?start=" + examStartYear;

		if(examEndYear != null && examEndYear.trim() != ''){
			url += "&end=" + examEndYear;
		}
		
		if(examSubjectCode != null && examSubjectCode != ''){
			url += "&examSubjectCode=" + examSubjectCode;
		}
		
		location.href = url;
	}

	function historyBack() {
		history.back(-1);
	}
</script>



