<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>jwLand</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<!--     <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" /> -->
    <link rel="stylesheet" href="/node_modules/jquery/dist/jquery.min.js" />
    <style>
		
    </style>
</head>

<body>



<!-- Modal -->
<div  th:fragment="popup-update-wronganswer">
	<!-- select-boxes -->
	<div class="modal fade" id="popup-update-wrongasnwer" data-backdrop="static" 
		data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1"  aria-hidden="true">
		
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel1">오답 수정 팝업</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeUpdateWrongAnswer()" >
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form>
				<div class="form-group row">
					<label for="enrolled-wronganswer-exam-year" class="col-sm-2 col-form-label text-center">시험 연도</label>
				    <div class="col-sm-10">
				      <select class="form-control" id="enrolled-wronganswer-exam-year">
				      </select>
				    </div>
				</div>
				<hr>
				<div class="form-group row">
					<label for="enrolled-wronganswer-exam-month" class="col-sm-2 col-form-label text-center">시험 월</label>
				    <div class="col-sm-10">
				      <select class="form-control" id="enrolled-wronganswer-exam-month" disabled>
				      </select>
				    </div>
				</div>
				<hr>
				<div class="form-group row">
					<label for="enrolled-wronganswer-exam-type" class="col-sm-2 col-form-label text-center">시험 기관</label>
				    <div class="col-sm-10">
				      <select class="form-control" id="enrolled-wronganswer-exam-type" disabled>
				      </select>
				    </div>
				</div>
				<hr>
				<div class="form-group row">
					<label for="enrolled-wronganswer-subject" class="col-sm-2 col-form-label text-center">과목</label>
				    <div class="col-sm-10">
				      <select class="form-control" id="enrolled-wronganswer-subject" disabled>
				      </select>
				    </div>
				</div>
			</form>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" style="display:none;" 
	        		data-toggle="modal" data-target="#select-enrolled-problem-number" id="select-enrolled-problem-number-btn" onclick="loadEnrolledWrongAnswerNumbers()">번호수정</button>
	        <button type="button" class="btn btn-primary" onclick="updateWrongAnswer()">수정</button>
	        <button type="button" class="btn btn-danger" onclick="deleteWrongAnswer()">삭제</button>
	        <button type="button" class="btn btn-warning" onclick="closeUpdateWrongAnswer()" data-dismiss="modal" id="update-wrong-answer-cancel-btn">취소</button>
	      </div>
	      
	    </div>
	  </div>
	  
	</div>
	
	
	<!-- 번호선택 이중 팝업 -->
	<div class="modal fade" id="select-enrolled-problem-number" 
		 data-backdrop="static" data-keyboard="false" 
		 tabindex="-2" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
		 
	  <div class="modal-dialog  modal-dialog-scrollable">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel3">번호 선택</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	       
	      <div class="modal-body">
	      	<ul class="list-group font-weight-bold" id="enrolled-problem-number-list">
	      	  <th:block th:each="m : ${#numbers.sequence(1,20)}">
	      	  <li class="list-group-item">
	      	  	<input type="checkbox" th:name="|enrolled-problem-number-${m}|" th:id="|enrolled-problem-number-${m}|" 
	      	  	class="mr-2" aria-label="Checkbox for following text input" th:value="${m}">
	      	  	<label th:for="|enrolled-problem-number-${m}|" th:text="${m}" style="width:90%; height: 100%;"></label>
	      	  </li>
	      	  </th:block>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="enrolled-number-update-btn" onclick="updateSelectedNumbers()">저장</button>
<!-- 	        <button type="button" class="btn btn-danger" data-dismiss="modal" id="number-select-cancel-btn" onclick="resetNumberCheckbox()">취소</button> -->
	        <button type="button" class="btn btn-danger" data-dismiss="modal" id="number-change-cancel-btn" onclick="undoNumberCheckbox()">취소</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

</body>
</html>


<script th:inline="javascript"  th:fragment="popup-update-wrong-answer-event">

	var enrolledNumbers = new Array();

	(function(){
		
		$("#popup-update-wrongasnwer-btn").on("click", function(e){
			loadEnrolledWrongAnswerExamYear();	
		});
		
		$("#enrolled-wronganswer-exam-year").on("change", function(e){
			if($(this).val() == null || $(this).val().trim() == ''){
				resetEnrolledWrongAnswerExamMonth();
				resetEnrolledWronAnswerExamType();
				resetEnrolledWrongAnswerSubject();
			}else{
				loadEnrolledWrongAnswerExamMonth();
				
				resetEnrolledWronAnswerExamType();
				resetEnrolledWrongAnswerSubject();
			}
		});
		
		$("#enrolled-wronganswer-exam-month").on("change", function(e){
			if($(this).val() == null || $(this).val().trim() == ''){
				resetEnrolledWronAnswerExamType();
				resetEnrolledWrongAnswerSubject();
				
			}else{
				loadEnrolledWrongAnswerExamType();				
				resetEnrolledWrongAnswerSubject();
			}
		});
		
		$("#enrolled-wronganswer-exam-type").on("change", function(e){
			if($(this).val() == null || $(this).val().trim() == ''){
				resetEnrolledWrongAnswerSubject();
			}else{
				loadEnrolledWrongAnswerSubject();
			}
		});

		$("#enrolled-wronganswer-subject").on("change", function(e){
			
			enrolledNumbers = new Array();
			
			if($(this).val() == null || $(this).val().trim() == ''){
				$("#select-enrolled-problem-number-btn").css("display", "none");		
			}else{
				$("#select-enrolled-problem-number-btn").css("display", "");		
			}
		});
	})();

	function loadEnrolledWrongAnswerExamYear(){
		var url = "/exam/wrong-answer/years?accountSequenceNo=" + accountSequenceNo;
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	          _cb_loadEnrolledWrongAnswerExamYear(data, xhr, status);
	        },
	        error: function(xhr, xhrStatus, err){
	          alert(JSON.stringify(xhr));
	        }
        });
	}
	
	function _cb_loadEnrolledWrongAnswerExamYear(data, xhr, status){
		console.log(data);
		$("#enrolled-wronganswer-exam-year").html("");
		
		var html = "<option value=''>=== 선 택 ===</option>";
		
		for(var i = 0 ; i < data.length ; i++){
			html +="<option value='" + data[i] + "'>" + data[i] + "</option>";
		}
		$("#enrolled-wronganswer-exam-year").html(html);
	}
	
	function loadEnrolledWrongAnswerExamMonth(){
		var _year = $("#enrolled-wronganswer-exam-year").val().trim();
		var url = "/exam/wrong-answer/month?accountSequenceNo=" + accountSequenceNo + "&year=" + _year;
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	          _cb_loadEnrolledWrongAnswerExamMonth(data, xhr, status);
	        },
	        fail: function(xhr, xhrStatus, err){
	          alert(JSON.stringify(xhr));
	        }
        });
	}
	
	function _cb_loadEnrolledWrongAnswerExamMonth(data, xhr, status){
		$("#enrolled-wronganswer-exam-month").html("");
		
		var html = "<option value=''>=== 선 택 ===</option>";
		
		for(var i = 0 ; i < data.length ; i++){
			html +="<option value='" + data[i] + "'>" + data[i] + "</option>";
		}
		
		$("#enrolled-wronganswer-exam-month").html(html);
		$("#enrolled-wronganswer-exam-month").removeAttr("disabled");
	}
	
	
	function loadEnrolledWrongAnswerExamType(){
		
		var _year = $("#enrolled-wronganswer-exam-year").val().trim();
		var _month = $("#enrolled-wronganswer-exam-month").val().trim();
		
		var url = "/exam/wrong-answer/types?accountSequenceNo=" + accountSequenceNo
				+"&year=" + _year + "&month=" + _month; 
				 
		
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	        	_cb_loadEnrolledWrongAnswerExamType(data, xhr, status);        	
	        },
	        error: function(xhr, xhrStatus, err){
	          alert(xhr.responseText);
	        }
        });
	}
	
	function _cb_loadEnrolledWrongAnswerExamType(data, xhr, status){
		$("#enrolled-wronganswer-exam-type").html("");
		
		console.log(data);
		
		var html = "<option value=''>=== 선 택 ===</option>";
		
		for(var i = 0 ; i < data.length ; i++){
			html +="<option value='" + data[i].exam_type_sequence_no + "'>" + data[i].exam_organization_name + "</option>";
		}
		$("#enrolled-wronganswer-exam-type").html(html);
		$("#enrolled-wronganswer-exam-type").removeAttr("disabled");
	}

	
	function loadEnrolledWrongAnswerSubject(){
		
		var examTypeSequenceNo = $("#enrolled-wronganswer-exam-type").val();
		var _accountSequenceNo = accountSequenceNo;
		
		var url = "/exam/wrong-answer/subjects?examTypeSequenceNo=" + examTypeSequenceNo
				+ "&accountSequenceNo=" + accountSequenceNo;
		
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	        	_cb_loadEnrolledWrongAnswerSubject(data, xhr, status);
	        },
	        
	        error: function(xhr, xhrStatus, err){
	          alert(xhr.responseText);
	        }
        });
	}

	function _cb_loadEnrolledWrongAnswerSubject(data, xhr, status){
		console.log(data);
		$("#enrolled-wronganswer-subject").html("");
		var html = "<option value=''>=== 선택 ===</option>";
		
		for(var i = 0 ; i < data.length ; i++){
			html +="<option value='" + data[i].exam_subject_code + "'>" + data[i].subject + "</option>";
		}
		$("#enrolled-wronganswer-subject").html(html);
		$("#enrolled-wronganswer-subject").removeAttr("disabled");
	}

	
	function updateSelectedNumbers(){
		
		var $checkedNumbers = $("#enrolled-problem-number-list").find("input:checkbox:checked");
		
		if($checkedNumbers.length < 1){
			alert("선택된 번호가 없습니다.");
			return ;
		}
		
		if(!confirm("선택한 번호로 변경하시겠습니까?")){
			return ;
		}
		
		enrolledNumbers = new Array();
		
		
		for(var i = 0 ; i < $checkedNumbers.length ; i++){
			enrolledNumbers.push($checkedNumbers[i].value);
		}
		
		$("#number-change-cancel-btn").click();
	}
	
	
	function loadEnrolledWrongAnswerNumbers(){
		
		var _examType = $("#enrolled-wronganswer-exam-type").val();
		var _subject = $("#enrolled-wronganswer-subject").val();
		
		if(_examType == null || _examType.trim() == ''){
			alert("시험 기관을 선택해주세요");
			return ;
		}
		
		if(_subject == null || _subject.trim() == ''){
			alert("시험 과목을 선택해주세요");
			return ;
		}
		
		var url = "/exam/wrong-answer/exam-types/" + _examType
		+ "/subjects/" + _subject + "?accountSequenceNo=" + accountSequenceNo;
		
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	        	_cb_loadEnrolledWrongAnswerNumbers(data, xhr, status);
	        },
	        
	        error: function(xhr, xhrStatus, err){
	          alert(xhr.responseText);
	        }
        });
	}
	
	function _cb_loadEnrolledWrongAnswerNumbers(data, xhr, status){
		
		if(enrolledNumbers == null || enrolledNumbers.length < 1){
			enrolledNumbers = data;
		}
		
		for(var i = 0 ; i < enrolledNumbers.length ; i++){
			$("#enrolled-problem-number-" + enrolledNumbers[i]).prop("checked", true);
		}
	}
	
	
	
	
	function undoNumberCheckbox(){
		$("#enrolled-problem-number-list").find("input:checkbox:checked").prop("checked", false);
	}
	
	
	function updateWrongAnswer(){
		var url = "/exam";
		
		var enrolledWronganswerExamType = $("#enrolled-wronganswer-exam-type").val();
		var enrolledWronganswerSubject = $("#enrolled-wronganswer-subject").val();
		var _accountSequenceNo = accountSequenceNo;
		var problemNumberList = enrolledNumbers;
		
		if(enrolledWronganswerExamType == null || enrolledWronganswerExamType.trim() == ''){
			alert("시험명을 선택해주세요");
			return ;
		}
		if(enrolledWronganswerSubject == null || enrolledWronganswerSubject.trim() == ''){
			alert("과목을 선택해주세요");
			return ;
		}
		if(problemNumberList.length < 1){
			alert("선택한 번호가 없습니다.");
			return ;
		}
		if(_accountSequenceNo == null || _accountSequenceNo == ''){
			alert("로그인이 필요한 서비스입니다.");
			return; 
		}
		
		
		if(!confirm("수정하시겠습니까?")){
			return ;
		}
		
		var requestBody = new Object();
		requestBody.examTypeSequenceNo = enrolledWronganswerExamType;
		requestBody.examSubjectCode = enrolledWronganswerSubject;
		requestBody.accountSequenceNo = _accountSequenceNo;
		requestBody.problemNumberList = problemNumberList;
		
		
	    $.ajax({
	        url: url,
	        method: "PUT",
	        contentType: "application/json",
	        data: JSON.stringify(requestBody),
	        success: function(data, xhr, status){
	        	alert(data);
	        	$("#update-wrong-answer-cancel-btn").click();
	        	showExamList();
	        },
	        error: function(xhr, xhrStatus, err){
	          alert(xhr.responseText);
	        }
        });
	}
	
	function deleteWrongAnswer(){
		
		var url = "/exam";
		var enrolledWronganswerExamType = $("#enrolled-wronganswer-exam-type").val();
		var enrolledWronganswerSubject = $("#enrolled-wronganswer-subject").val();
		var _accountSequenceNo = accountSequenceNo;
		
		if(enrolledWronganswerExamType == null || enrolledWronganswerExamType.trim() == ''){
			alert("시험명을 선택해주세요");
			return ;
		}
		if(enrolledWronganswerSubject == null || enrolledWronganswerSubject.trim() == ''){
			alert("과목을 선택해주세요");
			return ;
		}
		if(_accountSequenceNo == null || _accountSequenceNo == ''){
			alert("로그인이 필요한 서비스입니다.");
			return; 
		}
		
		
		if(!confirm("삭제하시겠습니까?")){
			return ;
		}
		
		var requestBody = new Object();
		requestBody.examTypeSequenceNo = enrolledWronganswerExamType;
		requestBody.examSubjectCode = enrolledWronganswerSubject;
		requestBody.accountSequenceNo = _accountSequenceNo;
		
	    $.ajax({
	        url: url,
	        method: "DELETE",
	        contentType: "application/json",
	        data: JSON.stringify(requestBody),
	        success: function(data, xhr, status){
	        	alert(data);
	        	$("#update-wrong-answer-cancel-btn").click();
	        	
	        	showExamList();
	        },
	        error: function(xhr, xhrStatus, err){
	          alert(xhr.responseText);
	        }
        });		
	}
	
	
	function closeUpdateWrongAnswer(){
		$("#enrolled-wronganswer-exam-year").html("");
		resetEnrolledWrongAnswerExamMonth();
		resetEnrolledWronAnswerExamType();
		resetEnrolledWrongAnswerSubject();
	}
	

	function resetEnrolledWrongAnswerExamMonth(){
		$("#enrolled-wronganswer-exam-month").html("");
		$("#enrolled-wronganswer-exam-month").attr("disabled", true);;
	}
	
	function resetEnrolledWronAnswerExamType(){
		$("#enrolled-wronganswer-exam-type").html("");
		$("#enrolled-wronganswer-exam-type").attr("disabled", true);;
	}
	
	function resetEnrolledWrongAnswerSubject(){
		selectedNumbers = new Array();
		$("#enrolled-wronganswer-subject").html("");
		$("#enrolled-wronganswer-subject").attr("disabled", true);;
		$("#select-enrolled-problem-number-btn").css("display", "none");
	}
	
</script>












