<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>jwLand</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<!--     <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" /> -->
    <link rel="stylesheet" href="/node_modules/jquery/dist/jquery.min.js" />
    <style>
		
    </style>
</head>

<body>


<!-- Modal -->
<div class="modal fade" id="popup-enroll-exam" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true" th:fragment="popup-enroll-exam">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">기출 등록 팝업</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelEnrollExam()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form>
      		<div class="form-group row">
				<label for="enroll-exam-year" class="col-sm-2 col-form-label text-center">년</label>
			    <div class="col-sm-10">
			      <input class="form-control" id="enroll-exam-year">
      			</div>
      		</div>
      		<hr>
      		<div class="form-group row">
      			<label for="enroll-exam-month" class="col-sm-2 col-form-label text-center">월</label>
      			<div class="col-sm-10">
	      			<input class="form-control" id="enroll-exam-month">
      			</div>
      		</div>
      		<hr>
      		<div class="form-group row">
      			<label for="enroll-exam-organization" class="col-sm-2 col-form-label text-center">시험기관</label>
      			<div class="col-sm-10">
      				<select id="enroll-exam-organization" style="width:100%;height:100%;"></select>
      			</div>
      		</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="enroll()">등록</button>
        <button type="button" class="btn btn-danger" onclick="cancelEnrollExam()" data-dismiss="modal" id="enroll-exam-cancel-btn">취소</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>


<script th:inline="javascript"  th:fragment="popup-enroll-exam-event">

	(function(){
		$("#popup-enroll-exam-btn").on("click", function(e){
			loadExamOrganizationInExamEnroll();
		});
	})();

	
	function loadExamOrganizationInExamEnroll(){
		var url = "/admin/exam/organization";
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(data, xhr, status){
	          _cb_loadExamOrganizationInExamEnroll(data, xhr, status);
	        },
	        fail: function(xhr, xhrStatus, err){
	          alert(JSON.stringify(xhr));
	        }
        });
	}
	
	function _cb_loadExamOrganizationInExamEnroll(data, xhr, status){
		$("#enroll-exam-organization").html("");
		
		var html = "<option value=''>=== 선 택 ===</option>";
		
		for(var i = 0 ; i < data.length ; i++){
			html +="<option value='" + data[i].exam_organization_sequence_no + "'>" + data[i].exam_organization_name + "</option>";
// 			html +="<option value='" + data[i].exam_type_sequence_no + "'>" + data[i].exam_type + "</option>";
		}
		$("#enroll-exam-organization").html(html);
	}
	
	
	
	function enroll() {
		
		var examYear = $("#enroll-exam-year").val();
		var examMonth = $("#enroll-exam-month").val();
		var examOrganizationSequenceNo = $("#enroll-exam-organization").val();

		if(examYear == null || examYear.trim() == ''){
			alert("시험 연도를 입력해주세요");
			return ;
		}
		if(examMonth == null || examMonth.trim() == ''){
			alert("시험 월를 입력해주세요");
			return ;
		}
		if(examOrganizationSequenceNo == null || examOrganizationSequenceNo.trim() == ''){
			alert("시험 기관을 선택해주세요");
			return ;
		}
		

		var examInfo = new Object();
		examInfo.year = examYear;
		examInfo.month = examMonth;
		examInfo.examOrganizationSequenceNo = examOrganizationSequenceNo;
		
		
		var url = "/admin/exam/enroll";
		
		if(!confirm("등록하시겠습니까?")){
			return ;
		}
		
		$.ajax({
			url: url,
			method: "POST",
			contentType: "application/json",
			data: JSON.stringify(examInfo),
			timeout: 10000,
			success: function(data, a, b){
				alert(data);
				$("#enroll-exam-cancel-btn").click();
			},
			error: function(a, b, c){
				alert(a.responseText);
			}
		});
		
	}

	function cancelEnrollExam(){
		$("#enroll-exam-year").val("");
		$("#enroll-exam-month").val("");
	}
	
</script>












