<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">JW-Land</title>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/dashboard.css" />
	<script src='/js/timeUtil.js'></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/" th:href="@{/}">JW-Land</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap row">
    	<th:block th:if="${session.loginInfo == null}">
	    	<a class="nav-link btn btn-success" href="/login" th:href="@{/login}">로그인</a>
    	</th:block>
    	<th:block th:if="${session.loginInfo != null}">
    		<form th:action="@{/logout}" method="post">
		    	<button type="submit" class="nav-link btn btn-danger">로그아웃</button>
    		</form>
    	</th:block>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" id="sidebar-ul">
        </ul>
      </div>
    </nav>

	<!-- 실제 구현해야하는 부분 -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" layout:fragment="content">

    </main>
  </div>
</div>

</body>
<script th:inline="javascript">

	var loginInfo = [[${session.loginInfo}]];
	const accountSequenceNo = loginInfo == null ? null : loginInfo.accountSequenceNo;


    (function () {
		load_menu();
    }());
    
    
    function load_menu(){
      var url = "/menu";
      $.ajax({
        url: url,
        method: "GET",
        success: function(data, xhr, status){
          _cb_load_menu(data, xhr, status);
        },
        fail: function(xhr, xhrStatus, err){
          alert(JSON.stringify(xhr));
        }
      });

    }

    function _cb_load_menu(data){
      var menu = data;
      var $sidebar = $("#sidebar-ul");
      $sidebar.html("");

      var menu_length = menu.length;
      var html = "";

      for(var i = 0 ; i < menu_length ; i++){
    	
    	if(menu[i].admin_page == 'N'){
	        html += '<li class="nav-item">';
	        html += '<a class="nav-link" href="' + menu[i].url + '">';
	        html += menu[i].menu_name;
	        html += '</a>';
	        html += '</li>';
    	}else{
    		if(loginInfo != null && loginInfo.role == 'ROLE_ADMIN'){
		        html += '<li class="nav-item">';
		        html += '<a class="nav-link" href="' + menu[i].url + '">';
		        html += menu[i].menu_name;
		        html += '</a>';
		        html += '</li>';
    		}
    	}
        
      }
      $sidebar.html(html);
    }
    
    
</script>

</html>








