<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminClassMapper">

	<insert id="enrollClass" parameterType="com.jwland.domain.classes.ClassVO">
		INSERT INTO jwland.class(class_name, class_type_code, start_date, created_at, create_account_id, modify_at, modify_account_id)
		VALUES(#{className}, #{classTypeCode}, #{startDate}, now(), #{createAccountId}, now(), #{modifyAccountId})
	</insert>


	<select id="findClassByClassName" parameterType="String" resultType="com.jwland.domain.classes.ClassVO">
		SELECT * FROM jwland.class
		WHERE class_name = #{className}
	</select>

	
	<select id="getClassList" parameterType="String" resultType="com.jwland.domain.classes.dto.ClassListDto">
		SELECT class_sequence_no, class_name, start_date, open
		FROM jwland.class
		WHERE 1=1 
		
		<if test="open != null and open != ''">
			AND open = #{open}
		</if>
		
		ORDER BY start_date DESC
	</select>

	<select id="getClassDetail" parameterType="int" resultType="com.jwland.domain.classes.dto.ClassDetailDto">
		SELECT class_sequence_no, class_name, class_type_code, start_date, open, modify_account_id, modify_at
		FROM jwland.class
		WHERE class_sequence_no = #{classSequenceNo}
	</select>	

	<update id="updateClass" parameterType="com.jwland.domain.classes.dto.ClassDetailDto">
		UPDATE jwland.class
		SET class_name = #{className},
			start_date = #{startDate},
			class_type_code = #{classTypeCode},
			open = #{open},
			modify_account_id = #{modifyAccountId},
			modify_at = now()
		WHERE class_sequence_no = #{classSequenceNo}
		;
	</update>


	<select id="getEnrolledAccounts" parameterType="int" resultType="int">
		SELECT account_sequence_no
		FROM jwland.account_class_map
		WHERE class_sequence_no = #{classSequenceNo}
	</select>


	<delete id="deleteMapTableWithClassSequenceNo" parameterType="int">
		DELETE FROM jwland.account_class_map
		WHERE class_sequence_no = #{classSequenceNo}
	</delete>
	
	<insert id="enrollStudentToClass" parameterType="map">
		INSERT INTO jwland.account_class_map(class_sequence_no, account_sequence_no)
		VALUES(#{classSequenceNo}, #{accountSequenceNo})
	</insert>
	
		
	<select id="getEnrolledAccountInfos" parameterType="int" resultType="com.jwland.domain.classes.dto.EnrolledAccountsDto">
		SELECT acm.account_sequence_no
			 , a.name
			 , c1.common_code_name AS grade
			 , c2.common_code_name AS school_name
		FROM jwland.account_class_map acm
		LEFT JOIN jwland.account a
		ON acm.account_sequence_no = a.account_sequence_no
		LEFT JOIN jwland.common_code_detail c1
		ON c1.common_code = a.grade_code
		LEFT JOIN jwland.common_code_detail c2
		ON c2.common_code = a.school_code
		WHERE acm.class_sequence_no = #{classSequenceNo}
	</select>
	
	
	<select id="getClassDate" parameterType="int" resultType="String">
		SELECT class_date
		FROM jwland.class_attendance_management
		WHERE class_sequence_no = #{classSequenceNo}
		GROUP BY class_date
		ORDER BY class_date DESC
	</select>

	<delete id="deleteClassAttendanceInfo" parameterType="map">
		DELETE FROM jwland.class_attendance_management
		WHERE class_sequence_no = #{classSequenceNo}::INT
		AND class_date = #{classDate}
	</delete>	
	
	<insert id="enrollAttendanceInfo" parameterType="ClassAttendanceManagementVO">
		INSERT INTO jwland.class_attendance_management(class_sequence_no, account_sequence_no, class_date, attendance_status_sequence_no, create_account_id, modify_account_id)
		VALUES(#{classSequenceNo}, #{accountSequenceNo}, #{classDate}, #{attendanceStatusSequenceNo}, #{createAccountId}, #{modifyAccountId} )
	</insert>
	
	<select id="findAttendanceInfoByDate" parameterType="map" resultType="PersonalClassAttendanceDto">
		SELECT account_sequence_no
			 , attendance_status_sequence_no 
		FROM jwland.class_attendance_management 
		WHERE class_sequence_no = #{classSequenceNo}::INT
		AND class_date = #{classDate}
	</select>
	
	
	<select id="findClassAttendanceInfo" parameterType="int" resultType="map">
		SELECT cam.account_sequence_no, 
			   c2.common_code_name AS school_name, 
			   c1.common_code_name AS grade, 
			   a.name, cam.class_date, 
			   ats.attendance_status 
		FROM jwland.class_attendance_management cam
		LEFT JOIN jwland.account a
		ON cam.account_sequence_no = a.account_sequence_no
		LEFT JOIN jwland.attendance_status ats
		ON ats.attendance_status_sequence_no = cam.attendance_status_sequence_no
		ON c1.common_code = a.grade_code
		LEFT JOIN jwland.common_code_detail c2
		ON c2.common_code = a.school_code
		WHERE class_sequence_no = #{classSequenceNo}
		order by name, class_date
		;
	</select>
	
	<select id="getClassName" parameterType="int" resultType="map">
		SELECT class_name FROM jwland.class
		WHERE class_sequence_no = #{classSequenceNo}
	</select>
</mapper>










