<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminClassMapper">

	<select id="getClassTypes" resultType="map">
		SELECT 	class_type_sequence_no, class_type_name FROM jwland.class_type
		ORDER BY class_type_sequence_no
		;
	</select>

	<insert id="enrollClass" parameterType="com.jwland.domain.classes.ClassVO">
		INSERT INTO jwland.class(class_name, class_type_sequence_no, start_date, created_at, create_account_id, modify_at, modify_account_id)
		VALUES(#{className}, #{classTypeSequenceNo}, #{startDate}, now(), #{createAccountId}, now(), #{modifyAccountId})
	</insert>


	<select id="findClassByClassName" parameterType="String" resultType="com.jwland.domain.classes.ClassVO">
		SELECT * FROM jwland.class
		WHERE class_name = #{className}
	</select>

	
	<select id="getClassList" parameterType="String" resultType="com.jwland.domain.classes.dto.ClassListDto">
		SELECT class_sequence_no, class_name, start_date, open
		FROM jwland.class
		WHERE open = #{open}
		ORDER BY open DESC
	</select>

	<select id="getClassDetail" parameterType="int" resultType="com.jwland.domain.classes.dto.ClassDetailDto">
		SELECT class_sequence_no, class_name, class_type_sequence_no, start_date, open, modify_account_id, modify_at
		FROM jwland.class
		WHERE class_sequence_no = #{classSequenceNo}
	</select>	

	<update id="updateClass" parameterType="com.jwland.domain.classes.dto.ClassDetailDto">
		UPDATE jwland.class
		SET class_name = #{className},
			start_date = #{startDate},
			open = #{open},
			modify_account_id = #{modifyAccountId},
			modify_at = now()
		WHERE class_sequence_no = #{classSequenceNo}
		;
	</update>


	<select id="getEnrolledAccounts" parameterType="int" resultType="int">
		SELECT account_sequence_no
		FROM jwland.account_class_map
		WHERE class_sequence_no = #{classSequenceNo}
	</select>


	<delete id="deleteMapTableWithClassSequenceNo" parameterType="int">
		DELETE FROM jwland.account_class_map
		WHERE class_sequence_no = #{classSequenceNo}
	</delete>
	
	<insert id="enrollStudentToClass" parameterType="map">
		INSERT INTO jwland.account_class_map(class_sequence_no, account_sequence_no)
		VALUES(#{classSequenceNo}, #{accountSequenceNo})
	</insert>
	
		
	<select id="getEnrolledAccountInfos" parameterType="int" resultType="com.jwland.domain.classes.dto.EnrolledAccountsDto">
		SELECT acm.account_sequence_no
			 , a.name
			 , g.grade
			 , s.school_name
		FROM jwland.account_class_map acm
		LEFT JOIN jwland.account a
		ON acm.account_sequence_no = a.account_sequence_no
		LEFT JOIN jwland.grades g
		ON a.grade_sequence_no = g.grade_sequence_no
		LEFT JOIN jwland.school s
		ON a.school_sequence_no = s.school_sequence_no
		WHERE acm.class_sequence_no = #{classSequenceNo}
	</select>
	
	
	<select id="getClassDate" parameterType="int" resultType="String">
		SELECT class_date
		FROM jwland.class_attendance_management
		WHERE class_sequence_no = #{classSequenceNo}
		GROUP BY class_date
		ORDER BY class_date
	</select>

	<delete id="deleteClassAttendanceInfo" parameterType="map">
		DELETE FROM jwland.class_attendance_management
		WHERE class_sequence_no = #{classSequenceNo}::INT
		AND class_date = #{classDate}
	</delete>	
	
	<insert id="enrollAttendanceInfo" parameterType="ClassAttendanceManagementVO">
		INSERT INTO jwland.class_attendance_management(class_sequence_no, account_sequence_no, class_date, attendance_status_sequence_no, create_account_id, modify_account_id)
		VALUES(#{classSequenceNo}, #{accountSequenceNo}, #{classDate}, #{attendanceStatusSequenceNo}, #{createAccountId}, #{modifyAccountId} )
	</insert>
	
	<select id="findAttendanceInfoByDate" parameterType="map" resultType="PersonalClassAttendanceDto">
		SELECT account_sequence_no
			 , attendance_status_sequence_no 
		FROM jwland.class_attendance_management 
		WHERE class_sequence_no = #{classSequenceNo}::INT
		AND class_date = #{classDate}
	</select>
	

</mapper>










