<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminExamMapper">

	<insert id="enrollExam" parameterType="com.jwland.domain.exam.ExamEnrollDto">
		INSERT INTO jwland.exam_type(year, month, exam_type)
		VALUES(#{year}, #{month}, #{examType})
	</insert>

	<select id="checkExamExist" resultType="map" parameterType="com.jwland.domain.exam.ExamEnrollDto">
		SELECT * FROM jwland.exam_type
		WHERE year = #{year}
		AND   month = #{month}
		AND   exam_type = #{examType}
	</select>

	<select id="getExamYear" resultType="int">
		SELECT DISTINCT year FROM jwland.exam_type
		ORDER BY year
	</select>

	<select id="getExamMonth" resultType="int">
		SELECT DISTINCT month FROM jwland.exam_type
		WHERE year = #{year}::INT
		ORDER BY month
	</select>

	<select id="getExamTypes" parameterType="map" resultType="map">
		SELECT exam_type_sequence_no, exam_type
		FROM jwland.exam_type
		WHERE year = #{year}::INT
		AND   month = #{month}::INT
		ORDER BY exam_type
	</select>


	<select id="getAllExamTypes" resultType="map">
		SELECT '' AS exam_type_sequence_no, exam_type
		FROM jwland.exam_type
		GROUP BY exam_type
		ORDER BY exam_type
	</select>

	<update id="updateExamType" parameterType="com.jwland.domain.exam.ExamUpdateDto">
		UPDATE jwland.exam_type
		SET exam_type = #{examType}
		WHERE exam_type_sequence_no = #{examTypeSequenceNo}
	</update>

</mapper>



























