<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminAccountMapper">

	<select id="getAccountManagementList" parameterType="map" resultType="com.jwland.domain.account.dto.AccountManagementDto">
		SELECT a.account_sequence_no
			 , a.name
			 , c1.common_code_name AS grade
			 , c2.common_code_name AS school_name
			 , a.approved
			 , a.role
		FROM jwland.account a
		LEFT JOIN  jwland.common_code_detail c1
		ON c1.common_code = a.grade_code
		LEFT JOIN jwland.common_code_detail c2
		ON c2.common_code = a.school_code
		WHERE 1=1
		<if test="name != '' and name != null">
			AND name LIKE '%'||#{name}||'%'
		</if>
		<choose>
			<when test="approved != null">
				AND approved LIKE '%'||#{approved}||'%'
			</when>
			<otherwise>
				AND approved = 'N'
			</otherwise>
		</choose>
		ORDER BY account_sequence_no
	</select>
	
	<update id="updateApproveStatus" parameterType="list">
		UPDATE jwland.account
		SET approved = 'Y'
		WHERE account_sequence_no IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateApproveStatusAsDisable" parameterType="list">
		UPDATE jwland.account
		SET approved = 'N'
		WHERE account_sequence_no IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

</mapper>










