<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminExamMapper">

	<insert id="enrollExam" parameterType="com.jwland.domain.exam.ExamEnrollDto">
		INSERT INTO jwland.exam_type(year, month, exam_organization_sequence_no)
		VALUES(#{year}, #{month}, #{examOrganizationSequenceNo})
	</insert>

	<select id="checkExamExist" resultType="map" parameterType="com.jwland.domain.exam.ExamDuplicationValidateParameter">
		SELECT * FROM jwland.exam_type
		WHERE year = #{year}
		AND   month = #{month}
		AND   exam_organization_sequence_no = #{examOrganizationSequenceNo}
	</select>

	<select id="getExamYear" resultType="int">
		SELECT DISTINCT year FROM jwland.exam_type
		ORDER BY year
	</select>

	<select id="getExamMonth" resultType="int">
		SELECT DISTINCT month FROM jwland.exam_type
		WHERE year = #{year}::INT
		ORDER BY month
	</select>

	<select id="getExamTypes" parameterType="map" resultType="map">
		SELECT et.exam_type_sequence_no, eo.exam_organization_name
		FROM jwland.exam_type et
		LEFT JOIN jwland.exam_organization eo
		ON et.exam_organization_sequence_no = eo.exam_organization_sequence_no
		WHERE year = #{year}::INT
		AND   month = #{month}::INT
		ORDER BY et.exam_type_sequence_no
	</select>


	<select id="getExamOrganzations" resultType="map">
		SELECT exam_organization_sequence_no, exam_organization_name
		FROM jwland.exam_organization
		ORDER BY exam_organization_sequence_no
	</select>

	<update id="updateExamType" parameterType="com.jwland.domain.exam.ExamUpdateDto">
		UPDATE jwland.exam_type
		SET exam_organization_sequence_no = #{examOrganizationSequenceNo}
		WHERE exam_type_sequence_no = #{examTypeSequenceNo}
	</update>
	
	<delete id="deleteExamType" parameterType="int">
		DELETE FROM jwland.exam_type
		WHERE exam_type_sequence_no = #{examTypeSequenceNo}
	</delete>

</mapper>



























