<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.web.admin.mapper.AdminExamMapper">

	<insert id="enrollExam" parameterType="com.jwland.domain.exam.ExamEnrollDto">
		INSERT INTO jwland.exam_type(year, month, exam_organization_sequence_no)
		VALUES(#{year}, #{month}, #{examOrganizationSequenceNo})
	</insert>

	<select id="checkExamExist" resultType="map" parameterType="com.jwland.domain.exam.ExamDuplicationValidateParameter">
		SELECT * FROM jwland.exam_type
		WHERE year = #{year}
		AND   month = #{month}
		AND   exam_organization_sequence_no = #{examOrganizationSequenceNo}
	</select>

	<update id="updateExamType" parameterType="com.jwland.domain.exam.ExamUpdateDto">
		UPDATE jwland.exam_type
		SET exam_organization_sequence_no = #{examOrganizationSequenceNo}
		WHERE exam_type_sequence_no = #{examTypeSequenceNo}
	</update>
	
	<delete id="deleteExamType" parameterType="int">
		DELETE FROM jwland.exam_type
		WHERE exam_type_sequence_no = #{examTypeSequenceNo}
	</delete>

</mapper>



























