<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwland.examcheck.ExamCheckMapper">

	<select id="getExamCheckList" resultType="com.jwland.examcheck.ExamTotalInfoDto">
		SELECT et.year, 
			   et.month, 
			   et.grade, 
			   et.exam_type, 
			   es.subject, 
			   t.wrong_count
		FROM (
			SELECT exam_type_sequence_no, 
				   exam_subject_sequence_no, 
				   problem_number, 
				   COUNT(*) AS wrong_count
			FROM jwland.exam_master
			GROUP BY exam_type_sequence_no, exam_subject_sequence_no, problem_number
			ORDER BY wrong_count desc
		) t
		LEFT JOIN jwland.exam_type et
		ON t.exam_type_sequence_no = et.exam_type_sequence_no
		LEFT JOIN jwland.exam_subject es
		ON t.exam_subject_sequence_no = es.exam_subject_sequence_no
		ORDER BY wrong_count desc;
	</select>

</mapper>